.hero--container {
  background: gray;
}

.hero--title {
  font-size: 2.5rem;
  font-weight: 400;
  text-align: center;
}

.value-prop {
  display: flex;
  margin: 2rem 0;
}

.value-prop h2 {
  margin-bottom: 1rem;
}

.value-prop div {
  flex: 1;
  padding: 1rem;
  text-align: center;
}

@media (max-width: 700px) {
  .value-prop {
    flex-direction: column;
  }
}
