.site-header a {
  color: white;
  text-decoration: none;
  transition: color 0.2s ease;
}

.site-header a:hover,
.active {
  color: #ddd;
}

.site-header {
  background: var(--nav-blue);
  box-shadow: var(--app-box-shadow);
}

.site-header nav {
  display: flex;
  font-size: 1.1rem;
  justify-content: space-between;
  position: relative;
}

.home-nav {
  align-items: center;
  background: var(--nav-blue);
  display: flex;
  font-size: 1.5rem;
  justify-content: space-between;
  padding: 2rem;
  z-index: 1;
}

.collapse-menu {
  display: flex;
  flex: 1;
  justify-content: space-around;
  padding: 2rem;
  transition: all 0.3s ease;
  transform: translateY(100%);
}

.collapsed {
  transform: translateY(0);
}

.menu-toggle {
  color: white;
  display: none;
  font-size: 30px;
}

.page-nav {
  display: flex;
  list-style-type: none;
}

.page-nav li {
  margin: 0 1rem;
}

@media (max-width: 700px) {
  .home-nav {
    flex: 1;
    box-shadow: var(--app-box-shadow);
  }
  .page-nav {
    flex-direction: column;
  }
  .page-nav li {
    margin: 0 0 1rem 0;
  }
  .site-header {
    box-shadow: none;
  }
  .collapse-menu {
    background: var(--nav-blue);
    box-shadow: var(--app-box-shadow);
    display: flex;
    flex-direction: column;
    padding: 2rem;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
  }
  .menu-toggle {
    display: flex;
  }
}
